<h1>Submit your score:</h1>

<form [formGroup]="form" class="row g-3">
  <div class="col-md-6">
    <label class="form-label" for="nickname">Nickname</label>
    <input class="form-control" formControlName="nickname" id="nickname" name="nickname" required type="text">
    <span *ngIf="form.get('nickname')?.touched && !form.get('nickname')?.valid" class="text-danger">
        You have to enter your nickname.
    </span>
  </div>
  <div class="col-md-4">
    <label class="form-label" for="email">Email</label>
    <input class="form-control" formControlName="email" id="email" name="email" required type="email">
    <span *ngIf="form.get('email')?.touched && !form.get('email')?.valid" class="text-danger">
        You have to enter a valid E-Mail Address.
    </span>
  </div>
  <div class="col-md-2">
    <label class="form-label" for="age">Age</label>
    <input class="form-control" formControlName="age" id="age" name="age" required type="number">
    <span *ngIf="form.get('age')?.touched && !form.get('age')?.valid" class="text-danger">
        You have to enter your age and be older than or 13-years-old.
    </span>
  </div>
  <div class="col-12">
    <label class="form-label" for="country">Country (Optional)</label>
    <input class="form-control" formControlName="country" id="country" name="country" type="text">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" formControlName="accept" id="accept" name="accept" type="checkbox">
      <label class="form-check-label" for="accept">
        I accept the Terms Of Use
      </label>
      <span *ngIf="form.get('accept')?.touched && !form.get('accept')?.valid" class="text-danger">
        <br>You have to accept our Terms Of Use.
      </span>
    </div>
  </div>
  <div class="col-12">
    <button (click)="onSend()" [disabled]="!form.valid" class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
