<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">🧠</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']" aria-current="page" class="nav-link"
             routerLink="/">Play!</a>
        </li>

        <li class="nav-item dropdown">
          <a [routerLinkActive]="['active']" aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             role="button">
            Questions
          </a>
          <ul class="dropdown-menu">
            <!-- mocked for exam purposes: -->
            <li>
              <a [routerLink]="'questions/1'" class="dropdown-item">Art</a>
              <a [routerLink]="'questions/5'" class="dropdown-item">Geography</a>
              <a [routerLink]="'questions/4'" class="dropdown-item">History</a>
              <a [routerLink]="'questions/3'" class="dropdown-item">Informatics</a>
              <a [routerLink]="'questions/2'" class="dropdown-item">Literature</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" routerLink="highscores">High Scores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
